<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-c8b07NI_nVfbckxQ-YfTGnVKq3cOXfw</string>
	<key>GCM_SENDER_ID</key>
	<string>993512018843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramesh.offers.offersapp</string>
	<key>PROJECT_ID</key>
	<string>turbopaisa-fa189</string>
	<key>STORAGE_BUCKET</key>
	<string>turbopaisa-fa189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993512018843:ios:c389895194a0883384473e</string>
</dict>
</plist>